<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :Body %><br />
    <%= f.text_area :Body %>
  </div>
  <div class="field">
    <%= f.label :context %><br />
    <%= f.text_field :context %>
  </div>

  <ul class="checkbox-list">

  <% @contexts.each do |context| -%>
      <li><%= check_box_tag "term[context_ids][]", context.id, term_has_context?(context) -%> <%= context.Title -%></li>

     <% end -%>
</ul>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
