<h1>Listing Contexts</h1>

<table>
  <tr>
    <th>Title |</th>
    <th>Body |</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contexts.each do |context| %>
  <tr>
    <td><%= context.Title %></td>
    <td><%= context.Body %></td>
    <td><%= link_to 'Show', context ,:style => "text-decoration:none;" %></td>
    <td><%= link_to 'Edit', edit_context_path(context),:style => "text-decoration:none;" %></td>
    <td><%= link_to 'Destroy', context, :confirm => 'Are you sure?', :method => :delete ,:style => "text-decoration:none;"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Context', new_context_path ,:style => "text-decoration:none;" %>
