<table>
<tr>
       <td><h1>Item to relate is :</h2></td>
        <td><h2> <%= @item.Title  %><h2> </td>
</tr>
</table>

<table>
  <tr>
    <th>Title |</th>
    <th>Reference_Type |</th>
    <th>Reference_Address |</th>
    <th>Reference_Chapter |</th>
    <th>Reference_PageNumber |</th>
    <th>Body |</th>
    <th>GeoTag |</th>
    <th>TypeId |</th>
    <th>People |</th>
    <th>ProjectId </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @itemlistnew.each do |item| %>
  <tr>
    <td><%= item.Title %></td>
    <td><%= item.Reference_Type %></td>
    <td><%= item.Reference_Address %></td>
    <td><%= item.Reference_Chapter %></td>
    <td><%= item.Reference_PageNumber %></td>
    <td><%= item.Body %></td>
    <td><%= item.GeoTag %></td>
    <td><%= item.TypeId %></td>
    <td><%= item.People %></td>
    <td><%= item.ProjectId %></td>
    <td><%#= link_to "Relate" %></td>

  <%#= check_box_tag "item[term_ids][]", term.id, item_has_term?(term) -%>
 <td> <%=  button_to "Make_relation_new" , params.merge(:child => item ) , :disabled => button_disable?(item) %></td>
  </tr>
<% end %>
</table>
